.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.record-btn, .stop-btn{
  padding: 5px 6px 5px 6px;/* top right bottom left */
  font-size: 100%;
  margin-left: 10px;
  border-radius: 5px;
  border: 0.0005px solid;
  /* border: none;
  border-radius: 50%;
  background-color: #fff; */
}

.audioR{
  margin-top: 3px;
}

.record-btn:hover, .stop-btn:hover, .offrecord:hover{
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.fa-microphone, .fa-stop{
  margin-left: 4px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
