.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#name{
    font-family: 'Asap SemiBold';
}

#context{
    font-size: 28px;
}
